<meta charset="utf-8"/>
<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

<!-- https://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{{site.description}}"/>
<meta name="author" content="{{site.author}}"/>
<link rel="author" href="humans.txt"/>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
<!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->