<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <div id="root">
            <div id="app">
                <nav class="sidenav">
                    <h4>Components</h4>

                    <ul>
                        <li><a href="{{site.baseurl}}/">Home</a></li>
                        <li><a href="">Featured Content Area</a></li>
                    </ul>
                </nav>

                <main class="app__content app__content--pushed">

                    {{ content }}

                </main>
            </div> 
        </div>

        <script src="{{site.baseurl}}/scripts.min.js"></script>
    </body>

</html>
