<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <div id="root">
            <div id="app">
                <nav class="sidenav">
                {% capture my_include %}{% include sidebar.md %}{% endcapture %}
                {{ my_include | markdownify }}
                </nav>

                <main class="app__content app__content--pushed">

                    {{ content }}

                </main>
            </div> 
        </div>

        <script src="{{site.baseurl}}/scripts.min.js"></script>
    </body>

</html>
